<ion-view view-title="Calendar">
	<ion-header-bar class="bar bar-subheader" align-title="center">
	  <button class="button button-icon icon ion-chevron-left small-icon"></button>
	  <div class="h3 small-title title">{{currentMonth}}</div>
	  <button class="button button-icon icon ion-chevron-right small-icon"></button>
	</ion-header-bar>
  <ion-content clas="has-subheader">
	  <ion-list>
	  	<ion-item>
	  	<div class="row row-no-padding">
	  		<div class="col text-center"><div><p class="weekday">M</p></div></div>
	  		<div class="col text-center"><p class="weekday">T</p></div>
	  		<div class="col text-center"><p class="weekday">W</p></div>
	  		<div class="col text-center"><p class="weekday">T</p></div>
	  		<div class="col text-center"><p class="weekday">F</p></div>
	  		<div class="col text-center"><p class="weekday">S</p></div>
	  		<div class="col text-center"><p class="weekday">S</p></div>
	  	</div>
	    </ion-item>
	    <ion-item>
	  	    <div class="row row-no-padding">
	  	    	<div class="col text-center">1</div>
	  	    	<div class="col text-center">2</div>
	  	    	<div class="col text-center">3</div>
	  	    	<div class="col text-center">4</div>
	  	    	<div class="col text-center">5</div>
	  	    	<div class="col text-center">6</div>
	  	    	<div class="col text-center">7</div>
	  	    </div>
	    </ion-item>
	    <ion-item>
		    <div class="row row-no-padding">
		    	<div class="col text-center">1</div>
		    	<div class="col text-center">2</div>
		    	<div class="col text-center">3</div>
		    	<div class="col text-center">4</div>
		    	<div class="col text-center">5</div>
		    	<div class="col text-center">6</div>
		    	<div class="col text-center">7</div>
		    </div>
	  </ion-item>
	  <ion-item>
		    <div class="row row-no-padding">
		    	<div class="col text-center">1</div>
		    	<div class="col text-center">2</div>
		    	<div class="col text-center">3</div>
		    	<div class="col text-center">4</div>
		    	<div class="col text-center">5</div>
		    	<div class="col text-center">6</div>
		    	<div class="col text-center">7</div>
		    </div>
	  </ion-item>
	  <ion-item>
		    <div class="row row-no-padding">
		    	<div class="col text-center">1</div>
		    	<div class="col text-center">2</div>
		    	<div class="col text-center">3</div>
		    	<div class="col text-center">4</div>
		    	<div class="col text-center">5</div>
		    	<div class="col text-center">6</div>
		    	<div class="col text-center">7</div>
		    </div>
	  </ion-item>
	  <ion-item>
		    <div class="row row-no-padding">
		    	<div class="col text-center">1</div>
		    	<div class="col text-center">2</div>
		    	<div class="col text-center">3</div>
		    	<div class="col text-center">4</div>
		    	<div class="col text-center">5</div>
		    	<div class="col text-center">6</div>
		    	<div class="col text-center">7</div>
		    </div>
	  </ion-item>
	  <ion-item>
		    <div class="row row-no-padding">
		    	<div class="col text-center">1</div>
		    	<div class="col text-center">2</div>
		    	<div class="col text-center">3</div>
		    	<div class="col text-center">4</div>
		    	<div class="col text-center">5</div>
		    	<div class="col text-center">6</div>
		    	<div class="col text-center">7</div>
		    </div>
	  </ion-item>
	  </ion-list>
  </ion-content>
</ion-view>
