<ion-view view-title="Calendar">
  <ion-header-bar class="bar bar-subheader" align-title="center">
    <button class="button button-icon icon ion-chevron-left small-icon" ng-click="previous()"></button>
    <div class="h3 small-title title">{{month.format("MMMM YYYY")}}</div>
    <button class="button button-icon icon ion-chevron-right small-icon" ng-click="next()"></button>
  </ion-header-bar>
  <ion-content clas="has-subheader">
    <ion-list on-swipe-right="previous()" on-swipe-left="next()">
      <ion-item>
      <div class="row row-no-padding">
        <div class="col text-center"><div><p class="weekday">Mon</p></div></div>
        <div class="col text-center"><p class="weekday">Tue</p></div>
        <div class="col text-center"><p class="weekday">Wed</p></div>
        <div class="col text-center"><p class="weekday">Thu</p></div>
        <div class="col text-center"><p class="weekday">Fri</p></div>
        <div class="col text-center"><p class="weekday">Sat</p></div>
        <div class="col text-center"><p class="weekday">Sun</p></div>
      </div>
      </ion-item>
      <ion-item ng-repeat="week in weeks">
          <div class="row row-no-padding">
            <div class="col text-center" ng-repeat="day in week.days"><a class="button button-small button-clear button-dark">{{day.number}}</a></div>
          </div>
      </ion-item> 
    </ion-list>
  </ion-content>
</ion-view>
