<ion-modal-view view-title="Exercises">
<ion-header-bar>
    <h1 class="title">Exercises</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="close_modal('exercises')">Close</button>
    </div>
  </ion-header-bar>
  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="search item" ng-model="search.title" ng-change="scrollTop()">
    </label>
  </div>
  <ion-content>
    <ion-list>
      <ion-item collection-repeat="exercise in exercises | filter:search:false" ng-click="addExercise(exercise)">
        {{exercise.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
