<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Progress</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-show="loggedIn" menu-close class="item item-icon-left" href="#">
          <i class="icon ion-person"></i>
             {{user.name}}
        </ion-item>
        <ion-item ng-hide="loggedIn" menu-close class="item item-icon-left" ng-click="login()">
          <i class="icon ion-log-in"></i>
             Login
        </ion-item>
        <ion-item menu-close class="item item-icon-left" ui-sref="app.workout({date: moment().format('MM-DD-YYYY')})">
          <i class="icon ion-compose"></i>
             Log Workout
        </ion-item>
        <ion-item menu-close class="item item-icon-left" href="#/app/calendar">
          <i class="icon ion-calendar"></i>
             Calendar
        </ion-item>
        <ion-item menu-close class="item item-icon-left" href="#/app/browse">
          <i class="icon ion-arrow-graph-up-right"></i>
             Goals
        </ion-item>
        <ion-item menu-close class="item item-icon-left" href="#/app/exercises">
          <i class="icon ion-more"></i>
             Exercises
        </ion-item>
        <div class="item item-divider"></div>
        <ion-item menu-close class="item item-icon-left" href="#/app/settings">
          <i class="icon ion-gear-a"></i>
             Preferences
        </ion-item>
        <div ng-show="loggedIn">
          <ion-item menu-close class="item item-icon-left" ng-click="confirm_logout()">
            <i class="icon ion-log-out"></i>
               Logout
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
