<div class="row">
  <div class="col text-center">
  {{popup.info}}
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <button class="button button-clear button-dark button-small icon ion-minus-round" ng-click="popup.decrement()"></button>
  </div>
  <div class="col">
    <input type="number" step="any" autofocus="true" placeholder="{{massUnit}}" ng-model="popup.weight" ng-change="updateWeightInfo(popup)"></input>  </div>
  <div class="col text-center">
    <button class="button button-clear button-dark button-small icon ion-plus-round" ng-click="popup.increment()"></button>
  </div>
</div>
