<ion-view view-title="Workout">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-done-all" ng-click="model.save_workout(workout)"></button>
  </ion-nav-buttons>
  <ion-footer-bar>
    <button class="bar bar-footer bar-balanced" ng-click="show_exercises()">
      <p class="title">Add Exercise<p>
    </button>
  </ion-footer-bar>
  <ion-content>
      <ion-list type="card" can-swipe="true" ng-repeat="exercise in workout.exercises track by $index">

        <div ui-sref="app.workout.exercise({exercise_index :$index})" class="item item-divider selected-header">
          <h2>{{exercise.name}}</h2>
        </div>

        <div class="selected" ng-repeat="set in exercise.sets track by $index">
          <div class="row">
              <div class="col">
                {{$index + 1}}.
              </div>
              <div class="col col-offset-10">
                {{set.weight}}{{ set.unit || massUnit}}
              </div>
              <div class="col-20 item-input text-center">
                  {{set.reps}}
              </div>
            </div>
        </div>

      </ion-list>
      <div class="bottom-margin">
      </div>
  </ion-content>
</ion-view>
