<ion-view view-title="Workout">
<ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-android-done-all" ng-click="doSomething()">
      </button>
</ion-nav-buttons>
<ion-footer-bar>
  <button class="bar bar-footer bar-balanced" ng-click="show_modal('exercises')">
    <p class="title">Add Exercise<p>
  </button>
</ion-footer-bar>
<ion-content>
    <ion-list type="list-inset" can-swipe="true" ng-repeat="exercise in workout">

      <div class="item item-divider">
        <h2>{{exercise.title}}</h2>
      </div>

      <ion-item ng-repeat="set in exercise.sets track by $index">
        <div class="row item-text-center">
            <div class="col">
              <button class="button button-clear button-dark button-small">{{$index + 1}}.</button>
            </div>
            <div class="col col-offset-10">
              <button class="button button-clear button-dark button-small" ng-click="show_popup(set)">{{set.weight}}kg</button>
            </div>
            <div class="col col-offset-20">
              <button class="button button-clear button-dark button-small icon ion-minus-round" ng-click="decrement(set)"></button>
            </div>
            <div class="col-20 item-input text-center">
                <input text-align="center" type="number" placeholder="reps" ng-model="set.reps" ng-init="reps"></input>
            </div>
            <div class="col">
              <button class="button button-clear button-dark button-small icon ion-plus-round rep-button" ng-click="increment(set)"></button>
            </div>
          </div>
          <ion-option-button ng-click="remove_set($index, exercise)" class="button-assertive button-small icon ion-trash-a"></ion-option-button>
      </ion-item>

      <a class="item" ng-click="addSet(exercise)">
        <div class="row row-no-padding">
          <div class="col">
            <i class="icon-left ion-plus-round"></i>
          </div>
          <div class="col col-75">
            Set
          </div>
        </div>
      </a>
    </ion-list>
    <div class="bottom-margin">
    </div>
</ion-content>
</ion-view>
