/* Empty. Add your own CSS if you like */

button.small-icon:before {
	font-size: 12px !important;
}

.small-title:before {
	font-size: 1px !important;
}

p.weekday {
	font-weight: bold;
}
.numberCircle {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    padding: 0;

    background: #fff;
    border: 1px solid #666;
    color: #666;
    text-align: center;
}

.no-padding {
    display: inline !important;
    padding: 0px !important;
    margin: 0px !important;
}

.item-text-center
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}

.bottom-margin {
    margin-bottom: 5%;
}
.no-padding {
    padding: 0% !important;
}

ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

.filter-bar-open.modal-open { 
    pointer-events: auto 
}

.selected {
    background: rgba(0, 191, 255, 0.15);
}


span.calendar {
    display: inherit;
    height: 22px;
    width: 22px;
    line-height: 22px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    color: black;
}

span.calendar.other-month {
    opacity: 0.5;
}

span.calendar.workout-day {
    color: rgb(56, 126, 245)
}


span.calendar.today {
    background-color: rgba(56, 126, 245, 0.8);
    color: white !important;
}

